html {
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-color: hsl(257, 40%, 49%);
    font-size: 62.5%;
    min-height: 100vh;
    background-size: cover;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    padding: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 60px;
    gap: 40px;
}

.container .image-design {
    display: flex;
    align-items: center;
    min-width: 506px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .text-content {
    padding-top: 2.5rem;
    align-items: flex-start;
}

.content .text-content h1 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.content .text-content p,
.content .text-content .button a {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}

.content .text-content p {
    font-size: 2rem;
    color: #fff;
}

.content .text-content .button a {
    display: inline-block;
    padding: 15px 40px;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 25px;
    background-color: #fff;
    transition: .3s ease-in-out;
    color: hsl(257, 40%, 49%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.content .text-content .button a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.rodape .social {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    padding-right: 5rem;
}

.rodape .social a {
    font-size: 2rem;
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    margin-left: 1.5rem;
    border-radius: 50%;
    transition: .3s ease-in-out;
    position: relative;
}

.rodape .social a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rodape .social a:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}