html {
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-size: 62.5%;
}

.cabecalho .logo {
    padding: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
    gap: 40px;
}

.container .image-design {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .text-content {
    align-items: flex-start;
}

.content .text-content h1 {
    font-size: 5.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.content .text-content p,
.content .text-content .button a {
font-family: 'Open Sans', sans-serif;
}

.content .text-content p {
    font-size: 2rem;
    color: #fff;
}

.content .text-content .button a {
    display: inline-block;
    padding: 20px 60px;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 25px;
    background-color: #fff;
    transition: .3s ease-in-out;
    color: hsl(257, 40%, 49%);
}

.content .text-content .button a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;    
}

.rodape .social {
    display: flex;
    justify-content: flex-end;
    text-align: flex-start;
    align-items: center;
    margin: 30px;
    padding-right: 8rem;
}

.rodape .social a {
    font-size: 2.5rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 2rem;
    margin-left: 1.5rem;
    border-radius: 100%;
    transition: .3s ease-in-out;
}

.rodape .social a:hover{
    
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}
